@charset "UTF-8";
body {
    margin: 0;
}


/* Lists (enumeration) */


/* ============================================ */


/* Vertical rhythm */


/* ============================================ */

p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
    margin: 0;
}


/* Headings */


/* ============================================ */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    margin: 0;
}


/* Lists (enumeration) */


/* ============================================ */

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "游ゴシック体", YuGothic, "Yu Gothic M", "游ゴシック Medium", "Yu Gothic Medium", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", HiraKakuProN, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-size: 16px;
    color: #1d1d1d;
    overflow-x: hidden;
}

@font-face {
    font-family: Oswald;
    src: url(../font/Oswald-VariableFont_wght.ttf);
}

img {
    max-width: 100%;
    height: auto;
}

img[src$=".svg"] {
    fill: currentColor;
    width: 100%;
    height: auto;
}

button {
    letter-spacing: 2px;
    cursor: pointer;
}

button:focus {
    outline: unset;
}

a {
    text-decoration: none;
    color: black;
}

.is-invalid {
    border: 2px solid red !important;
}

.banner {
    position: relative;
    background: url(../img/banner_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 80px;
}

.banner-item {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.banner-item__lead {
    padding-top: 87px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.banner-item__lead p span {
    background-color: #9cafc2;
    color: white;
    font-size: 22px;
    font-weight: bold;
    padding: 3px 10px;
    border-radius: 5px;
    letter-spacing: 1px;
}

.banner-item__lead p:nth-child(1) {
    margin-right: 20px;
}

.banner-item__ttl {
    margin-top: 40px;
}

.banner-item__ttl h1 {
    -webkit-background-clip: text;
    background-image: -webkit-gradient(linear, left top, right top, from(#004183), to(#0eb49a));
    background-image: linear-gradient(to right, #004183, #0eb49a);
    -webkit-text-fill-color: transparent;
    color: #464646;
    display: inline-block;
    font-size: 70px;
    line-height: 1.28571;
    font-weight: bolder;
}

.banner-item__check {
    margin-top: 10px;
}

.banner-item__check p {
    margin-top: 10px;
}

.banner-item__check p span {
    position: relative;
    font-size: 22px;
    font-weight: bold;
    margin-left: 34px;
}

.banner-item__check p span::before {
    content: "";
    background: url(../img/check_icon.png) no-repeat;
    background-size: cover;
    width: 24px;
    height: 18px;
    position: absolute;
    top: 5px;
    left: -34px;
}

.banner-item__check p span::after {
    content: "";
    border-bottom: 1px solid black;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0px;
}

.banner-item__ranking {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-top: 30px;
}

.banner-item__ranking-col {
    position: relative;
    margin-right: 20px;
}

.banner-item__ranking-col:last-child {
    margin-right: unset;
}

.banner-item__ranking-col p {
    position: absolute;
    font-size: 30px;
    font-weight: bold;
    top: 60px;
    width: 172px;
    text-align: center;
}

.contact {
    position: relative;
    background: url(../img/contact_bg1.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    padding: 55px 0 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.contact-item {
    text-align: center;
}

.contact-item p {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.contact-item p span::before {
    content: "╲";
    font-size: 24px;
    color: white;
    display: inline-block;
    margin-right: 15px;
}

.contact-item p span::after {
    content: "╱";
    font-size: 24px;
    color: white;
    display: inline-block;
    margin-left: 15px;
}

.contact-item button {
    margin-top: 20px;
    width: 700px;
    height: 100px;
    background-color: #f5ff00;
    border: unset;
    position: relative;
    border-radius: 50px;
    -webkit-box-shadow: 0px 8px rgba(0, 0, 0, 0.185);
    box-shadow: 0px 8px rgba(0, 0, 0, 0.185);
}

.contact-item button span {
    font-size: 24px;
    font-weight: bold;
    line-height: 1;
}

.contact-item button span::before {
    content: "";
    width: 39px;
    height: 27px;
    background: url(../img/contact_icon_mail.png) no-repeat;
    background-size: cover;
    display: inline-block;
    margin-right: 20px;
    vertical-align: bottom;
}

.contact-item button::after {
    content: "";
    background: url(../img/arrow_right.png) no-repeat;
    background-size: cover;
    width: 37px;
    height: 37px;
    position: absolute;
    top: calc(50% - 18.5px);
    right: 40px;
}

.contact-item button:hover {
    -webkit-transform: translate(0, 8px);
    transform: translate(0, 8px);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: 0.9;
}

.intro {
    position: relative;
    margin-top: 100px;
    margin-bottom: 70px;
}

.intro__lead {
    text-align: center;
}

.intro__lead h3 {
    font-size: 36px;
    font-weight: bold;
}

.intro__lead h3 span {
    position: relative;
}

.intro__lead h3 span::after {
    content: "";
    border-bottom: 1px solid black;
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
}

.intro-item {
    max-width: 680px;
    margin: 30px auto 0 auto;
}

.intro-item__txt p {
    font-size: 18px;
    line-height: 1.94444;
    font-weight: 400;
}

.intro-item__img {
    text-align: center;
    margin-top: 20px;
}

.intro-item__available p {
    font-size: 26px;
    font-weight: bold;
    margin-left: 90px;
    margin-top: 20px;
}

.intro-item__available p span {
    position: relative;
}

.intro-item__available p span::before {
    content: "";
    background: url(../img/faq_bg.png) no-repeat;
    background-size: cover;
    width: 84px;
    height: 78px;
    position: absolute;
    left: -90px;
    top: -50px;
}

.worry {
    position: relative;
    z-index: 1;
}

.worry-bg {
    background: url(../img/worry_bg.jpg) no-repeat;
    background-size: cover;
    width: 95%;
    padding-top: 90px;
    padding-bottom: 200px;
    text-align: center;
}

.worry-bg p:nth-child(1) {
    font-size: 45px;
    font-weight: bold;
    color: white;
    margin-right: -93px;
}

.worry-bg p:nth-child(2) {
    font-size: 26px;
    font-family: Oswald;
    color: white;
    margin-right: -93px;
}

.worry-item {
    width: 1100px;
    position: absolute;
    bottom: -200px;
    left: calc(50% - 550px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.worry-item__col {
    width: 340px;
    background-color: white;
    padding: 60px 20px 50px 20px;
    text-align: center;
}

.worry-item__col-txt {
    margin-top: 10px;
}

.worry-item__col-txt p {
    color: black;
    font-size: 24px;
    font-weight: bold;
}

.worry-item .worry-item__col:first-child .worry-item__col-txt {
    margin-top: 40px;
}

.worry-item .worry-item__col:last-child .worry-item__col-img {
    margin-top: 20px;
}

.worry-item .worry-item__col:last-child .worry-item__col-txt {
    margin-top: 35px;
}

.worryOther {
    position: relative;
    z-index: 0;
}

.worryOther-bg {
    padding: 460px 0 0 0;
    background-color: #d6f3ee;
    margin-top: -200px;
}

.worryOther-bg-item {
    max-width: 1100px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.worryOther-bg-item__woman {
    width: 432px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: -90px;
}

.worryOther-bg-item__worry {
    margin-top: -60px;
    margin-left: -50px;
    text-align: center;
    width: 625px;
}

.worryOther-bg-item__worry-lead {
    margin-bottom: 20px;
    text-align: left;
    margin-left: -50px;
}

.worryOther-bg-item__worry-lead p {
    font-size: 33px;
    font-weight: bold;
}

.worryOther-bg-item__worry-icon {
    margin-left: -150px;
}

.worryOther-bg-item__worry-txt {
    font-size: 28px;
    font-weight: bold;
    margin-left: -150px;
}

.worryOther-group {
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.worryOther-group__col {
    margin-right: 20px;
}

.worryOther-group__txt {
    font-size: 28px;
    font-weight: bold;
    margin-top: 90px;
}

.worryOther-rest {
    margin-left: -100px;
}

.worryGrid {
    max-width: 1440px;
    margin: 100px auto 100px auto;
}

.worryGrid-col {
    margin-top: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.worryGrid-col__txt {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.worryGrid-col__txt-item {
    width: 490px;
}

.worryGrid-col__txt-item-ttl {
    margin-top: 10px;
}

.worryGrid-col__txt-item-ttl p {
    font-size: 36px;
    font-weight: bold;
}

.worryGrid-col__txt-item-ttl p span {
    position: relative;
}

.worryGrid-col__txt-item-ttl p span sm {
    font-size: 20px;
}

.worryGrid-col__txt-item-ttl p span::after {
    content: "";
    border-bottom: 1px solid black;
    width: 100%;
    position: absolute;
    bottom: -2px;
    left: 0;
}

.worryGrid-col__txt-item-txt p {
    font-size: 18px;
    line-height: 2;
    margin-top: 25px;
    font-weight: 700;
}

.worryGrid-col__img {
    width: 50%;
}

.worryGrid-col__img img {
    width: 100%;
}

.worryGrid .worryGrid-col:nth-child(2) .worryGrid-col__txt {
    -webkit-box-pack: unset;
    -ms-flex-pack: unset;
    justify-content: unset;
    padding-left: 90px;
}

.test {
    position: relative;
}

.test-img {
    position: relative;
    background: url(../img/test_bg.jpg) no-repeat;
    background-size: cover;
    width: 95%;
    padding: 150px 0;
}

.test-img__txt {
    position: absolute;
    top: 50%;
    left: 52.5%;
    text-align: center;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.test-img__txt p {
    color: white;
    font-weight: bold;
}

.test-img__txt p:nth-child(1) {
    font-size: 45px;
    letter-spacing: 2px;
}

.test-img__txt p:nth-child(2) {
    font-size: 26px;
    font-family: Oswald;
    font-weight: unset;
    letter-spacing: 2px;
}

.test-ttl p {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.test-ttl p span {
    font-size: 26px;
    font-weight: bold;
    position: relative;
}

.test-ttl p span::before {
    content: "";
    width: 120%;
    height: 3px;
    background: -webkit-gradient(linear, left top, right top, from(#004183), to(#0eb59a));
    background: linear-gradient(to right, #004183, #0eb59a);
    position: absolute;
    top: -10px;
    left: -10%;
}

.test-ttl p span::after {
    content: "";
    width: 120%;
    height: 3px;
    background: -webkit-gradient(linear, left top, right top, from(#004183), to(#0eb59a));
    background: linear-gradient(to right, #004183, #0eb59a);
    position: absolute;
    bottom: -10px;
    left: -10%;
}

.test-flex {
    max-width: 1100px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.test-flex__col {
    width: 47%;
    -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: white;
}

.test-flex__col-lead p {
    font-size: 24px;
    font-weight: bold;
    color: white;
    background-color: #0eb59a;
    text-align: center;
    padding: 10px 0;
}

.test-flex__col-txt {
    padding: 30px;
}

.test-flex__col-txt img {
    width: 100%;
    margin-bottom: 20px;
}

.test-flex__col-txt-area p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    margin-top: 10px;
    width: 100%;
}

.test-flex__col-txt-area p span {
    width: 35%;
    font-size: 20px;
    font-weight: 700;
}

.test-flex__col-txt-area p span::before {
    content: "";
    background: url(../img/check_icon_blue.png) no-repeat;
    background-size: cover;
    width: 21px;
    height: 16px;
    display: inline-block;
    margin-right: 15px;
}

.test-example {
    max-width: 1100px;
    margin: 50px auto 0 auto;
    padding: 50px;
    border: 5px solid #f1f1f1;
}

.test-example-item {
    max-width: 770px;
    margin: 0 auto;
}

.test-example-item__lead p {
    font-size: 26px;
    font-weight: bold;
    text-align: center;
}

.test-example-item__lead p span {
    position: relative;
}

.test-example-item__lead p span::after {
    content: "";
    border-bottom: 3px solid black;
    width: 100%;
    position: absolute;
    bottom: -3px;
    left: 0;
}

.test-example-item__txt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-top: 30px;
}

.test-example-item__txt p:nth-child(1) {
    width: 130px;
    font-weight: bold;
}

.test-example-item__txt p:nth-child(2) {
    font-weight: 600;
}

.test-flex .test-flex__col:nth-child(2) .test-flex__col-txt .test-flex__col-txt-area p {
    margin-top: unset;
    display: block;
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
    -ms-flex-direction: unset;
    flex-direction: unset;
    -webkit-box-pack: unset;
    -ms-flex-pack: unset;
    justify-content: unset;
    margin-left: 50px;
}

.test-flex .test-flex__col:nth-child(2) .test-flex__col-txt .test-flex__col-txt-area p span {
    width: 100%;
}

.test-col {
    max-width: 1100px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.test-col__group {
    width: 340px;
    background-color: white;
    -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.test-col__group-lead p {
    color: white;
    font-size: 24px;
    font-weight: bold;
    background-color: #0eb59a;
    padding: 10px 0;
    text-align: center;
}

.test-col__group-txt {
    padding: 20px 20px 30px 20px;
}

.test-col__group-txt img {
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
}

.test-col__group-txt-area p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 5px;
}

.test-col__group-txt-area p span img {
    width: 21px;
    height: 16px;
}

.test-col__group-txt-area p span:nth-child(2) {
    margin-left: 10px;
    font-size: 18px;
    font-weight: 600;
}

.test-btTxt {
    max-width: 1100px;
    margin: 30px auto 0 auto;
}

.test-btTxt p {
    font-size: 18px;
    font-weight: bold;
}

.test-col .test-col__group:nth-child(3) .test-col__group-lead p {
    font-family: Oswald;
    font-weight: unset;
}

.testCapture {
    max-width: 1100px;
    margin: 0 auto;
}

.testCapture-lead p {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-top: 100px;
}

.testCapture-lead p span {
    position: relative;
}

.testCapture-lead p span::after {
    content: "";
    border-bottom: 2px solid black;
    width: 100%;
    position: absolute;
    bottom: -4px;
    left: 0;
}

.testCapture-lead p:nth-child(2) {
    font-size: 18px;
    font-weight: bold;
    margin-top: 30px;
}

.testCapture-flex {
    margin-top: 70px;
    background-color: white;
    -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.testCapture-flex__txt {
    width: 50%;
    padding-left: 40px;
}

.testCapture-flex__txt p:nth-child(1) {
    font-size: 20px;
    font-weight: bold;
    font-family: Oswald;
    color: #0eb59a;
    letter-spacing: 1.5px;
}

.testCapture-flex__txt p:nth-child(2) {
    font-size: 30px;
    font-weight: bold;
}

.testCapture-flex__txt p:nth-child(3) {
    margin-top: 15px;
    font-size: 18px;
    font-weight: 600;
}

.testCapture-flex__img {
    width: 50%;
}

.testCapture-flex__img img {
    width: 100%;
}

.cost {
    margin-top: 70px;
}

.cost-lead {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: url(../img/cost_ttl.jpg) no-repeat;
    background-size: cover;
    padding: 150px 0;
    width: 95%;
}

.cost-lead__ttl {
    position: absolute;
    top: 50%;
    left: 52.5%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.cost-lead__ttl p:nth-child(1) {
    font-size: 45px;
    font-weight: bold;
    color: white;
}

.cost-lead__ttl p:nth-child(2) {
    font-size: 26px;
    font-family: Oswald;
    color: white;
}

.cost-item {
    margin-top: -150px;
    background-color: #d6f3ee;
    padding: 150px 0 80px 0;
}

.cost-item__ttl {
    padding-top: 70px;
    text-align: center;
}

.cost-item__ttl p:nth-child(1) {
    font-size: 24px;
    font-weight: bold;
}

.cost-item__ttl p:nth-child(2) {
    font-size: 36px;
    font-weight: bold;
}

.cost-item__ttl p:nth-child(2) span {
    position: relative;
}

.cost-item__ttl p:nth-child(2) span::after {
    content: "";
    border-bottom: 1px solid black;
    position: absolute;
    width: 100%;
    bottom: -4px;
    left: 0;
}

.cost-item-group {
    max-width: 1100px;
    margin: 50px auto 0 auto;
}

.cost-item-group__ttl {
    margin-bottom: 15px;
}

.cost-item-group__ttl p span:nth-child(1) {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
}

.cost-item-group__ttl p span:nth-child(2) {
    font-size: 30px;
    font-family: Oswald;
    margin-left: 5px;
    vertical-align: bottom;
}

.cost-item-group__ttl p::before {
    content: "";
    background: url(../img/circle_blue.svg) no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-right: 15px;
    vertical-align: text-bottom;
}

.cost-item-group__price img {
    width: 100%;
}

.flow {
    margin: 70px 0 100px 0;
}

.flow-item__ttl {
    text-align: center;
}

.flow-item__ttl p:nth-child(1) {
    font-size: 36px;
    font-weight: bold;
}

.flow-item__ttl p:nth-child(1) span {
    position: relative;
}

.flow-item__ttl p:nth-child(1) span::after {
    content: "";
    border-bottom: 2px solid black;
    width: 100%;
    position: absolute;
    bottom: -45px;
    left: 0;
}

.flow-item__ttl p:nth-child(2) {
    margin-top: -10px;
    font-size: 26px;
    font-family: Oswald;
    font-weight: unset;
    color: #0eb59a;
}

.flow-item-grid {
    max-width: 1100px;
    margin: 70px auto 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.flow-item-grid__col {
    width: 245px;
    text-align: center;
    position: relative;
}

.flow-item-grid__col img {
    width: 100%;
}

.flow-item-grid__col p {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

.flow-item-grid__col:not(:first-child)::before {
    content: "";
    background: url(../img/arrow_right_grid.png) no-repeat;
    background-size: cover;
    width: 17px;
    height: 35px;
    position: absolute;
    left: -30px;
    top: calc(35% - 17.5px);
}

.contactUs {
    position: relative;
}

.contactUs-lead {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: url(../img/contact_bg.jpg) no-repeat;
    background-size: cover;
    width: 95%;
    padding: 150px 0;
}

.contactUs-lead__ttl {
    position: absolute;
    left: 52.5%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.contactUs-lead__ttl p:nth-child(1) {
    font-size: 45px;
    font-weight: bold;
    color: white;
}

.contactUs-lead__ttl p:nth-child(2) {
    font-family: Oswald;
    font-size: 26px;
    font-weight: unset;
    color: white;
}

.contactUs-item {
    background-color: #eff2f5;
    padding: 210px 0 90px 0;
    margin-top: -150px;
}

.contactUs-item-group {
    max-width: 1100px;
    margin: 0 auto;
}

.contactUs-item-group>p {
    padding-left: 50px;
    font-size: 15px;
    font-weight: bold;
}

.contactUs-item-group>p span {
    color: #ff0000;
}

.contactUs-item-group__row {
    border-bottom: 1px solid #e4e4e4;
    padding-bottom: 15px;
    padding-top: 15px;
    margin-left: 50px;
    margin-right: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.contactUs-item-group__row-txt {
    width: 300px;
}

.contactUs-item-group__row-txt p {
    font-size: 16px;
    font-weight: bold;
    padding-left: 20px;
}

.contactUs-item-group__row-txt p span {
    color: #ff0000;
}

.contactUs-item-group__row-tag {
    width: 700px;
}

.contactUs-item-group__row-tag input[type="text"],
.contactUs-item-group__row-tag input[type="email"],
.contactUs-item-group__row-tag input[type="phone"] {
    width: 100%;
    height: 50px;
    background-color: white;
    border: 1px solid white;
    font-size: 16px;
    color: #ababab;
    padding: 10px 20px;
}

.contactUs-item-group__row-tag textarea {
    width: 100%;
    background-color: white;
    border: 1px solid white;
    font-size: 16px;
    color: #ababab;
    padding: 10px 20px;
}

.contactUs-item-group__row-tag input:focus {
    outline: unset;
}

.contactUs-item-group__row-tag textarea:focus {
    outline: unset;
}

.contactUs-item-group button {
    width: 288px;
    color: white;
    background-color: #0eb59a;
    border-radius: 5px;
    padding: 20px 0;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid #0eb59a;
    margin-top: 30px;
}

.privacy {
    margin-top: 50px;
    background-color: white;
    padding: 30px 30px 40px 30px;
}

.privacy p:nth-child(1) {
    font-weight: bold;
}

.privacyPdf {
    text-align: center;
    margin-top: 50px;
}

.privacyPdf a span {
    background-color: white;
    padding: 15px 30px;
    font-weight: bold;
}

.privacyPdf a span::before {
    content: "";
    background: url(../img/pdf_icon.png) no-repeat;
    background-size: cover;
    width: 21px;
    height: 25px;
    display: inline-block;
    margin-right: 15px;
    vertical-align: middle;
}

.privacyAgree {
    margin-top: 40px;
    text-align: center;
    font-weight: bold;
}

.privacyAgree input[type="checkbox"] {
    width: 18px;
    height: 18px;
}

.privacyAgree label {
    vertical-align: top;
}

.privacyAgree label span {
    color: #ff0000;
}

.submit_btn {
    text-align: center;
}

.footer {
    background: url(../img/footer_bg.jpg) no-repeat;
    background-size: cover;
    padding: 145px 0 25px 0;
}

.footer-item {
    max-width: 1100px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer-item__logo {
    width: 50%;
    text-align: center;
}

.footer-item__txt {
    width: 50%;
    color: white;
}

.footer-item__txt p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.footer-item__txt p span:nth-child(1) {
    width: 80px;
    font-size: 14px;
    font-weight: 500;
}

.footer-item__txt p span:nth-child(2) {
    font-size: 13px;
    font-weight: 500;
}

.footer-item__txt p:nth-child(2) {
    margin-top: 30px;
}

.footer-copyright p {
    color: white;
    text-align: center;
    margin-top: 100px;
    font-size: 11px;
}

@media (max-width: 1550px) {
    .banner-item {
        padding-left: 60px;
    }
}

@media (max-width: 1200px) {
    .banner-item {
        padding-left: 30px;
    }
    .banner-item__ttl h1 {
        font-size: 60px;
    }
    .banner-item__ranking-col img {
        width: 80%;
    }
    .banner-item__ranking-col p {
        font-size: 24px;
        top: 50px;
        width: 137.59px;
    }
    .intro__lead h3 span {
        font-size: 32px;
    }
    .worry-item {
        left: calc(50% - 494px);
        max-width: 990px;
    }
    .worry-item__col {
        width: 300px;
    }
    .worry-item__col-txt p {
        font-size: 18px;
    }
    .worry-bg p:nth-child(1) {
        font-size: 32px;
    }
    .worry-bg p:nth-child(2) {
        font-size: 22px;
    }
    .worryOther-bg-item__woman {
        margin-left: unset;
    }
    .worryOther-bg-item__worry-lead p {
        font-size: 28px;
    }
    .worryOther-bg-item__worry-txt {
        font-size: 24px;
    }
    .worryOther-group__txt {
        font-size: 20px;
    }
    .test-img__txt p:nth-child(1) {
        font-size: 32px;
    }
    .test-img__txt p:nth-child(2) {
        font-size: 22px;
    }
    .cost-lead__ttl p:nth-child(1) {
        font-size: 32px;
    }
    .cost-lead__ttl p:nth-child(2) {
        font-size: 22px;
    }
    .contactUs-lead__ttl p:nth-child(1) {
        font-size: 32px;
    }
    .contactUs-lead__ttl p:nth-child(2) {
        font-size: 22px;
    }
    .worryGrid-col__txt-item-ttl p {
        font-size: 28px;
    }
    .worryGrid-col__txt-item {
        width: 450px;
    }
    .worryGrid .worryGrid-col:nth-child(2) .worryGrid-col__txt {
        padding-left: 40px;
    }
    .worry-bg {
        width: 100%;
    }
    .worry-bg p:nth-child(1) {
        margin-right: unset;
    }
    .worry-bg p:nth-child(2) {
        margin-right: unset;
    }
    .test-img {
        width: 100%;
    }
    .test-img__txt {
        left: 50%;
    }
    .cost-lead {
        width: 100%;
    }
    .cost-lead__ttl {
        left: 50%;
    }
    .contactUs-lead {
        width: 100%;
    }
    .contactUs-lead__ttl {
        left: 50%;
    }
    .test-flex__col-lead p {
        font-size: 20px;
    }
    .test-flex__col-txt-area p span {
        font-size: 16px;
    }
    .test-flex__col {
        width: 48.5%;
    }
    .test-col__group-lead p {
        font-size: 20px;
    }
    .test-col__group-txt-area p span:nth-child(2) {
        font-size: 16px;
    }
    .test-col__group {
        width: 32%;
    }
    .testCapture-lead p {
        font-size: 32px;
    }
    .testCapture-flex__txt p:nth-child(2) {
        font-size: 28px;
    }
    .cost-item__ttl p:nth-child(2) {
        font-size: 32px;
    }
    .flow-item__ttl p:nth-child(1) {
        font-size: 32px;
    }
    .cost-item {
        margin-top: unset;
        padding-top: unset;
    }
    .flow-item-grid__col {
        width: 22%;
    }
    .worryOther-bg {
        margin-top: unset;
    }
    .worryOther-bg {
        padding-top: 270px;
    }
}

@media (max-width: 1140px) {
    .test-flex {
        margin-left: 15px;
        margin-right: 15px;
    }
    .test-example {
        margin-left: 15px;
        margin-right: 15px;
    }
    .test-col {
        margin-left: 15px;
        margin-right: 15px;
    }
    .test-btTxt {
        margin-left: 15px;
        margin-right: 15px;
    }
    .testCapture {
        margin-left: 15px;
        margin-right: 15px;
    }
    .cost-item {
        padding-left: 15px;
        padding-right: 15px;
    }
    .flow {
        margin-left: 15px;
        margin-right: 15px;
    }
    .privacy {
        margin-left: 15px;
        margin-right: 15px;
    }
}

@media (max-width: 1020px) {
    body {
        width: 1020px;
        overflow-x: scroll;
    }
}

@media (max-width: 768px) {
    body {
        width: unset;
        overflow-x: unset;
    }
    .banner-item__ttl h1 {
        font-size: 45px;
    }
    .banner-item__check p span {
        font-size: 18px;
    }
    .banner-item__ranking-col {
        margin-right: unset;
    }
    .contact-item p {
        font-size: 16px;
    }
    .contact-item button {
        width: 600px;
    }
    .intro__lead h3 span {
        font-size: 24px;
    }
    .intro-item__txt p {
        font-size: 16px;
        font-weight: bold;
    }
    .intro-item__available p span {
        font-size: 22px;
    }
    .worry-bg p:nth-child(1) {
        font-size: 24px;
    }
    .worry-item {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        position: relative;
        left: unset;
        bottom: unset;
        margin-top: 20px;
        max-width: unset;
        width: unset;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .worry-item__col {
        -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        margin-top: 30px;
    }
    .worryOther {
        margin-top: 50px;
    }
    .worryOther-bg {
        padding-top: 80px;
        padding-bottom: 50px;
    }
    .worryOther-bg-item__woman {
        display: none;
    }
    .worryOther-bg-item__worry {
        margin-left: auto;
        margin-right: auto;
        margin-top: unset;
    }
    .worryOther-bg-item__worry-lead {
        margin-left: unset;
        text-align: center;
    }
    .worryOther-bg-item__worry-icon {
        margin-left: unset;
    }
    .worryOther-bg-item__worry-txt {
        margin-left: unset;
    }
    .worryGrid-col {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }
    .worryGrid-col__txt {
        margin-top: 30px;
        width: 80%;
    }
    .worryGrid-col__txt-item {
        width: 100%;
    }
    .worryGrid-col__txt-item-txt p br {
        display: none;
    }
    .worryGrid-col__img {
        width: 100%;
    }
    .worryGrid-col:nth-child(2) {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .worryGrid .worryGrid-col:nth-child(2) .worryGrid-col__txt {
        padding-left: unset;
    }
    .test-flex__col-txt-area p span {
        width: 50%;
    }
    .test-flex .test-flex__col:nth-child(2) .test-flex__col-txt .test-flex__col-txt-area p {
        margin-left: unset;
    }
    .test-example {
        padding: 20px;
    }
    .test-col {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .test-col__group {
        width: 60%;
        margin-top: 30px;
    }
    .testCapture-flex {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }
    .testCapture-flex__img {
        width: 100%;
    }
    .testCapture-flex__txt {
        margin-top: 20px;
        width: 80%;
        padding-left: unset;
    }
    .flow-item-grid__col {
        width: 47%;
    }
    .contactUs-item-group__row {
        margin-left: 20px;
        margin-right: 20px;
    }
    .footer-item__logo {
        width: 40%;
    }
    .footer-item__txt {
        width: 60%;
    }
    .worry-bg {
        padding-top: 70px;
        padding-bottom: 70px;
    }
    .intro {
        margin-left: 15px;
    }
}

@media (max-width: 700px) {
    .banner-item {
        padding-left: 10px;
    }
    .banner-item__lead {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .banner-item__lead p:nth-child(2) {
        margin-top: 20px;
    }
    .banner-item__ttl h1 {
        font-size: 29px;
    }
    .banner-item__check p span {
        font-size: 16px;
    }
    .banner-item__ranking-col {
        width: 130px;
    }
    .banner-item__ranking-col p {
        font-size: 16px;
        top: 42px;
        width: 104px;
    }
    .banner-item__ranking-col img {
        width: 80%;
    }
    .contact {
        padding-left: 10px;
        padding-right: 10px;
    }
    .contact-item button {
        width: 100%;
        height: 80px;
    }
    .contact-item button span {
        font-size: 16px;
    }
    .contact-item button span::before {
        vertical-align: middle;
    }
    .contact-item p span::before {
        content: unset;
    }
    .contact-item p span::after {
        content: unset;
    }
    .intro {
        margin-right: 10px;
        margin-left: 10px;
        margin-top: 60px;
    }
    .intro__lead h3 {
        line-height: 1.25;
        text-align: left;
    }
    .intro__lead h3 span::after {
        content: unset;
    }
    .intro-item__available p span {
        font-size: 18px;
    }
    .worry-bg p:nth-child(1) {
        text-align: left;
    }
    .worry-bg {
        padding-left: 10px;
        padding-right: 10px;
    }
    .worryOther-bg-item__worry-lead p {
        font-size: 24px;
    }
    .worryOther-bg-item__worry-txt {
        font-size: 20px;
    }
    .worryOther-group__col {
        margin-right: 10px;
    }
    .worryOther-group {
        margin-left: 10px;
        margin-right: 10px;
    }
    .worryOther-group {
        -webkit-box-orient: unset;
        -webkit-box-direction: unset;
        -ms-flex-direction: unset;
        flex-direction: unset;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .worryGrid-col__txt {
        width: 94%;
        margin-left: 10px;
        margin-right: 10px;
    }
    .test-flex {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .test-flex__col {
        width: 90%;
        margin-top: 30px;
    }
    .test-ttl p {
        margin-bottom: 20px;
    }
    .test-col__group {
        width: 90%;
    }
    .worryGrid-col__txt-item-ttl p {
        font-size: 24px;
    }
    .worryGrid-col__txt-item-txt p {
        font-size: 16px;
    }
    .test-img__txt p:nth-child(1) {
        font-size: 24px;
    }
    .test-img__txt p:nth-child(2) {
        font-size: 20px;
    }
    .test-ttl p span {
        font-size: 24px;
    }
    .test-example-item__lead p {
        font-size: 24px;
    }
    .testCapture-lead p {
        font-size: 24px;
    }
    .testCapture-lead p:nth-child(2) {
        font-size: 16px;
    }
    .testCapture-lead p {
        margin-top: 60px;
    }
    .testCapture-flex {
        margin-top: 50px;
    }
    .testCapture-flex__txt {
        width: 100%;
    }
    .testCapture-flex__txt p:nth-child(2) {
        font-size: 20px;
    }
    .testCapture-flex__txt p:nth-child(3) {
        font-size: 16px;
    }
    .cost-lead__ttl p:nth-child(1) {
        font-size: 24px;
    }
    .cost-lead__ttl p:nth-child(2) {
        font-size: 20px;
    }
    .cost-item__ttl p:nth-child(1) {
        font-size: 18px;
    }
    .cost-item__ttl p:nth-child(2) span {
        font-size: 20px;
    }
    .cost-item-group__ttl p span:nth-child(1) {
        font-size: 20px;
    }
    .cost-item-group__ttl p span:nth-child(2) {
        font-size: 22px;
    }
    .flow-item__ttl p:nth-child(1) span {
        font-size: 24px;
    }
    .flow-item__ttl p:nth-child(2) {
        font-size: 20px;
    }
    .flow-item-grid__col p {
        font-size: 16px;
    }
    .contactUs-lead__ttl p:nth-child(1) {
        font-size: 24px;
    }
    .contactUs-lead__ttl p:nth-child(2) {
        font-size: 20px;
    }
    .contactUs-item-group>p {
        padding-left: 20px;
    }
    .contactUs-item-group__row {
        margin-left: 10px;
        margin-right: 10px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .contactUs-item-group__row-txt {
        width: 100%;
    }
    .contactUs-item-group__row-txt p {
        padding-left: unset;
    }
    .contactUs-item-group__row-tag {
        width: 100%;
        margin-top: 15px;
    }
    .footer {
        padding-top: 80px;
        padding-bottom: 30px;
    }
    .footer-item {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: unset;
        -ms-flex-align: unset;
        align-items: unset;
        padding-left: 20px;
    }
    .footer-item__txt {
        width: 100%;
        margin-top: 40px;
    }
    .footer-item__logo {
        width: 50%;
    }
    .footer-copyright p {
        margin-top: 50px;
    }
    .worry-bg {
        background-position: center;
    }
    .test-img {
        background-position: center;
    }
}

@media (max-width: 576px) {
    .worryOther-bg-item__worry-lead p {
        text-align: left;
        margin-left: 10px;
        margin-right: 10px;
    }
    .test-img {
        padding: 90px 0;
    }
    .test-flex__col {
        width: 100%;
    }
    .test-col__group {
        width: 100%;
    }
    .cost-lead {
        background-position: center;
        padding: 90px 0;
    }
    .contactUs-lead {
        background-position: center;
        padding: 90px 0;
    }
    .test-example-item__txt {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .test-example {
        margin-left: 10px;
        margin-right: 10px;
        padding: 10px;
    }
}

@media (max-width: 500px) {
    .flow-item-grid__col {
        width: 100%;
        margin-top: 20px;
    }
    .flow-item-grid__col:not(:first-child)::before {
        content: unset;
    }
    .banner-item__ranking-col p {
        font-size: 16px;
        top: 39px;
        width: 98px;
    }
}


/*# sourceMappingURL=style.css.map */